<?xml version="1.0" encoding="UTF-8"?>
<componentConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="../../../org/objectweb/proactive/core/component/config/component-config.xsd" name="interception">
    <controllers>
        <controller>
            <interface>org.objectweb.proactive.core.component.control.PABindingController</interface>
            <implementation>org.objectweb.proactive.core.component.control.PABindingControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.proactive.core.component.control.PAContentController</interface>
            <implementation>org.objectweb.proactive.core.component.control.PAContentControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.proactive.core.component.control.PAGCMLifeCycleController</interface>
            <implementation>org.objectweb.proactive.core.component.control.PAGCMLifeCycleControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.proactive.core.component.control.PASuperController</interface>
            <implementation>org.objectweb.proactive.core.component.control.PASuperControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.fractal.api.control.NameController</interface>
            <implementation>org.objectweb.proactive.core.component.control.PANameControllerImpl</implementation>
        </controller>
        <!-- Specific controllers -->
        <controller>
            <interface>org.objectweb.proactive.core.component.control.PAInterceptorController</interface>
            <implementation>org.objectweb.proactive.core.component.control.PAInterceptorControllerImpl</implementation>
        </controller>
        <controller>
            <interface>functionalTests.component.controller.DummyController</interface>
            <implementation>functionalTests.component.controller.DummyControllerImpl</implementation>
        </controller>
        <controller>
            <interface>functionalTests.component.interceptor.controllerobject.Interceptor1</interface>
            <implementation>functionalTests.component.interceptor.controllerobject.Interceptor1Impl</implementation>
        </controller>
        <controller>
            <interface>functionalTests.component.interceptor.controllerobject.Interceptor2</interface>
            <implementation>functionalTests.component.interceptor.controllerobject.Interceptor2Impl</implementation>
        </controller>
    </controllers>
</componentConfiguration>
