<?xml version="1.0" encoding="UTF-8"?>
<!-- @snippet-start-with-header TimIt_ConfigFile -->
<timit>

	<!-- GLOBAL VARIABLES DEFINITION
		Will replace those in deployment descriptor -->
	<globalVariables>
		<descriptorVariable name="VMARGS" value="-Xmx32M -Xms32M" />
		<descriptorVariable name="CLASS_PREFIX"
			value="org.objectweb.proactive.examples.documentation.timit" />
		<descriptorVariable name="NP" value="4,8" />
		<descriptorVariable name="RUN" value="1" />
		<descriptorVariable name="WARMUP" value="0" />
	</globalVariables>

	<series descriptorBase="descriptors/TimItApplication.xml"
		result="results/serie/example.4-8.xml"
		class="${CLASS_PREFIX}.Example">
		<charts>
			<chart type="MatrixChart"
				eventName="communicationPattern"
				title="Example"
				subtitle="Communications pattern"
				xaxislabel="Receiver rank" yaxislabel="Sender rank"
				scalemode="logarithmic" legendFormatMode="pow2"
				filename="results/serie/charts/example.Pattern" />
			<chart type="HierarchicalBarChart"
				filter="total,init,end" title="Example on 4 and 8 nodes"
				subtitle="Timing values" width="800" height="600"
				xaxislabel="Benchmarks" yaxislabel="Time in seconds"
				filename="results/serie/charts/example.Timing" />
		</charts>
		<benchmarks>
			<benchmark name="Example ${NP}"
				run="${RUN}" warmup="${WARMUP}" timeout="100"
				descriptorGenerated="descriptors/generated.xml"
				removeExtremums="true"
				note="My first test"
				parameters="descriptors/generated.xml ${NP}"
				output="results/serie/Example/example-${NP}.xml">
				<descriptorVariable name="NODES" value="${NP}" />
			</benchmark>
		</benchmarks>
	</series>
</timit>
<!-- @snippet-end TimIt_ConfigFile -->
