<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
</head>
<body bgcolor="white">
<p>
This package and sub-packages provide a customization of the standard
GCM ADL for ProActive. It uses standard classes and .fractal files
from the fractal-adl-2.4-SNAPSHOT.jar in the /lib directory, and from
a user point of view, main differences between the standard Fractal ADL
parser and this one are:
<br>
</p>
<ul>
	<li>
		A different Launcher class that can work with ProActive
		deployment descriptor and GCM Application descriptor.
	</li>
	<li>A customized factory and compiler.</li>
	<li>
		A registry that can store references to instantiated components
		(not used for the moment).
	</li>
	<li>
		Virtual nodes in the ADL can find a mapping in the ProActive
		deployment descriptor or in the GCM Application descriptor.
	</li>
	<li>
		Virtual nodes can be exported and composed; this allows
		colocation of processes.
	</li>
	<li>The dtd is specific to ProActive.</li>
</ul>
<p/>
<br>
<br>
@author The ProActive Team
</body>
</html>
